/* source: https://codepen.io/alvaromontoro/post/recreating-ipad-pro-commercial-animation-with-css */

/* keyframes gradually executes the lines inside */
@keyframes showTopText {
  /* 0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); } */
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}

.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}

.animated-title > div.text-top {
  border-bottom: 1vmin solid #000;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  /* color: #767676; */
  color: #222;
}

.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
  font-size: 5vmin;
}

.animated-title > div.text-bottom div span {
    margin-right: 40px;
    text-decoration: none;
    color: #222;
    cursor: pointer;
}

.animated-title {
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  height: 90vh;
  transform: translateX(-50%);
}

@media only screen and (min-width:1024px) {

  @media only screen and (min-width:1520px) {
    .section {
      margin-left: 15%;
      margin-top: 5rem;
    }

    .experience_pic {
    }
  }

  @media only screen and (max-width:1520px) {
    .section {
      margin-left: 9%;
      margin-top: 5rem;
    }
  }
  
  .animated-title {
    width: 36rem;
  }

  .aboutContent {
    display: inline-block;
    width: 35rem;
    margin-left: 6rem;
    line-height: 2rem;
  }

  .experience {
    margin-left: 2rem;
    /* width: 20rem; */
  }

  .experience_pic {
      margin-left: 8rem;
      max-height: 20rem;
      max-width: 21rem;
  }

  .project {
    width: 50vmin;
    margin-right: 2rem;
    max-height: 60vh;
    box-shadow: 20px 20px rgba(0,0,0,.15);
    transition: all .4s ease;
  }

  .row {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10rem;
    margin-bottom: 4rem;
  }

  .footerRow {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10rem;
  }
}


/* Mobile view */
@media only screen and (max-width: 600px) {

  .animated-title > div.text-bottom div span {
    margin-right: 13px;
}

  .section {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3rem;
  }

  .portrait {
    width: 21rem;
  }

  .animated-title {
    width: 15rem;
  }

  .experience_pic {
    display: block;
    max-width: 100%;
  }

  .experience {
    max-width: 100%;
  }

  .project {
    box-shadow: 10px 10px rgba(0,0,0,.15);
    transition: all .4s ease;
    margin: 1rem;
    margin-bottom: 2rem;
    /* background-color: blue; */
  }

  .copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: small;
  }
}

.section > h1 {
  font-family: Roboto, Arial, sans-serif;
}

/* about  */
.section > div {
  font-family: Roboto, Arial, sans-serif;
  display: inline-block;
}

/* project description */
.row > div > div{
  font-family: Roboto, Arial, sans-serif;
  /* font-size: 1vw; */
  display: inline-block;
}

.links {
  font-family: Roboto, Arial, sans-serif;
  text-decoration: none;
  color: #606060;
}

.links:hover {
  text-decoration: underline;
}

.parent {
  margin-left: 50%;
  height: 100vh;
}

.portrait {
  max-width: 28rem;
}

.project {
  border-style: groove;
  transition: all .4s ease;
  display: flex;
  justify-content: center;
  border-style: groove;
  box-shadow: 20px 20px rgba(0,0,0,.15);
}

.project:hover {
  border-color: blue;
  box-shadow: 0px 0px rgba(0,0,0,.15);
}

.projectImage {
  width: 100%;
  max-height: 35vh;
}

.projectContent {
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer {
  margin-top: 8rem;
}

.footerRow {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.copyright {
  font-family: Roboto, Arial, sans-serif;
}

.experience_pic {
  margin-top: 2rem;
}

.experience {
  display: inline-block;
  width: 40rem;
  margin-top: 3rem;
}

.experience_position {
  color: #6699CC;
}

.acquired {
  display: inline;
  font-weight: 400;
  font-size: medium;
}

.date {
  color: black;
  font-weight: 400;
  float: right;
}
