.copyright {
    left: 50%;
    position: fixed;
    display: flex;
    justify-content: center;
    transform: translateX(-50%);
    bottom: 0;
    color: #222;
    font-family: Roboto, Arial, sans-serif;
}
/* source: https://codepen.io/alvaromontoro/post/recreating-ipad-pro-commercial-animation-with-css */

@import url('https://fonts.googleapis.com/css?family=Roboto:700');

/* keyframes gradually executes the lines inside */
@keyframes showTopText {
  /* 0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); } */
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70vmin;
}

.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}
/* .animated-title > div div span:first-child { */
  /* display: block; */
/* } */
.animated-title > div.text-top {
  border-bottom: 1vmin solid #000;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  /* color: #767676; */
  color: #222;
}

.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
  font-size: 4vmin;
}

.animated-title > div.text-bottom div span {
    margin-right: 40px;
    text-decoration: none;
    color: #222;
    cursor: pointer;
}

.section {
  display: block;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 110vmin;
}

.about{
  top: 100vh;
}

.projects {
  top: 150vh;
}

.section > h1 {
  font-family: Roboto, Arial, sans-serif;
  font-size: 6vmin;
}

.section > div {
  /* width: 70vmin; */
  font-family: Roboto, Arial, sans-serif;
  font-size: 2vmin;
}

.links {
  text-decoration: none;
  color: black;
}

.projectImage {
  width: 100%;
}

.project {
  width: 50vmin;
  display: inline-block;
  margin-right: 2rem;
  border-style: groove;
}

.content {
  margin: 1rem;
}